
        <main>
            <img id="sadFaceImg" href="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/60279/sad-face-clipart-xl.png" alt="sad face" />
          		<h1 class="not-found">Error 404 - Page Not Found</h1>

        </main>
   