    <main>
        <table class="expenses-info">
            <thead>
                <tr>
                    <th colspan="2">Expenses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Amount:</td>
                 <td>{{total}} BGN</td>
                </tr>
                <tr>
                    <td>Total Merches</td>
                    <td>{{count}}</td>
                </tr>
            </tbody>
        </table>

        <div class="current-amount">
            <p>Available amount: <span>{{amount}} BGN</span></p>
        </div>
    </main>