* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(greenyellow, rgb(7, 65, 7));
    background-size: cover;
}

body {
    padding-top: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

button {
    background-color: blue;
    height: 60px;
    width: 300px;
}

button a {
    color: white;
    text-size-adjust: 14px;
    font-size: 1.6em;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 15px;
}

h1 {
    font-family: 'FunSized', sans-serif;
    font-style: normal;
    font-size: 32px;
    height: 100px;
}

img {
    border-color: teal;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}