body {
    font-family: monospace;
    font-size: 20px;
}

.site-wrapper {
    width: 800px;
    margin: auto;
}

.article-item section {
    font-style: italic;
}

.sponsored-article {
    background-color: aqua;
}
