<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cubicle</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/products">Browse</a></li>
        <li><a href="/products/about-cubicle">About</a></li>
         {{#if isLogged}}
          <li><a href="/user/logout">Logout</a></li>
      <li><a href="/products/create">Add a Cube</a></li>
        <li><a href="/accessories/createAccessory">Add an Accessory</a></li>
   
           {{else}}
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
 {{/if}}
      </ul>
    </header>
    {{{body}}}

      </div>
  <footer>@Cubicle: Exercise for Express.js , Handlebars, MongoDb, Authentifcation and Authorization</footer>
</body>

</html>