   
   {{#if error}}
   <section class="notifications">
            <p class="notification-message">{{error.message}}</p>
        </section>
{{/if}}


{{!-- //pri CREATE ot MODELA VALIDACIIATA raboti!!!!! --}}