* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    text-align: center;
}

h2 {
    color: white;
    text-size-adjust: 14px;
    height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'FunSized', sans-serif;
    font-style: normal;
}

button.Green {
    background-color: greenyellow;
}

button.Yellow {
    background-color: Yellow;
}

button.Pink {
    background-color: Pink;
}

button.Blue {
    background-color: Blue;
}

button.Turquoise {
    background-color: Turquoise;
}

button.Black {
    background-color: Black;
    color: ivory;
}

button.back,
button.startPaint {
    margin: 10px;
    background-color: white;
    color: teal;
}

#result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: white;
}

.startPaint {
    background-color: white;
    color: teal;
}

h2 {
    color: teal;
}

button a {
    color: teal;
    text-size-adjust: 14px;
    font-size: 1.6em;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 15px;
}
