    <main>
    <h1>Edit Accessory</h1>
    <div class="form">
        <form action='/accessories/editAccessory/{{_id}}' method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{name}}" >
            <label for="name">Description</label>
            <textarea id="name" name="description" >{{description}}</textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
            <input  id="backbtn"  type="submit" value="Edit">
              <a id="backbtn" href="/products">Back</a>
        </form>
    </div>
</main>