     <article>
                        <h3>{{title}}</h3>
                        <p>
                          {{description}}&hellip;
                        </p>
                        <div class="controls">
                            <a href="/products/details/{{_id}}">Read more</a>
                        </div>
                    </article>