{{#if isLogged}}
   <header>
        <nav>
            <ul>
                <li>
                    <a id="home" class="left-floated" href="/products">MoneyGone</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="right-floated" href="/user/profile">Hello, {{username}} </a>
                </li>

                <li>
                    <a class="right-floated" href="/user/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
{{else}}
   <header>
        <nav>
            <ul>
                <li>
                    <a id="home" class="left-floated" href="/products">MoneyGone</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="right-floated" href="/user/login">Login</a>
                </li>
            </ul>
        </nav>
    </header>


{{/if}}