
{{#if error}}
    <main>
	    <section class="notifications">
           <p class="notification-message">{{error.message}}</p>
        </section>
        <img src="/images/sadFace.png" alt="sad-face" class="sad-face">
		<h1 class="not-found">404 - Page Not Found</h1>
    </main>


{{/if}}
  